body {
    margin: 0px;
    background-color: #404040;
    font-family: arial;
}

header {
    width: 100%;
    height: 45px;
    background-color: #2b2b2b;
    border-bottom: 2px solid #1c1c1c;
}

.headerLink {
    margin: 20px;
    font-size: 40px;
    color: #cfcfcf;
    text-decoration: none;
}

.headerSelected {
    font-weight: bold;
}

.heading {
    color: #cfcfcf;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

.bodyText {
    color: #cfcfcf;
    margin: 20px;
    font-size: 20px;
}

.button {
    background-color: #cfcfcf;
    color: #2b2b2b;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    width: 100px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    filter: brightness(85%)
}

.dropDown {
    background-color: #cfcfcf;
    color: #2b2b2b;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

/* Light Mode */
.lightMode {
    background-color: #cccccc;
}

body.lightMode header {
    background-color: #bbbbbb;
    border: 2px solid #aaaaaa;
}

body.lightMode .headerLink {
    color: #303030;
}

body.lightMode .heading {
    color: #303030;
}

body.lightMode .bodyText {
    color: #303030;
}

body.lightMode .button {
    background-color: #303030;
    color: #cfcfcf;
}